name: Release Firmware Update

on:
  push:
    branches:
      - main
    paths:
      - 'SVS Control Module Firmwares/Firmware/**'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract release information
        id: release_info
        run: |
          VERSION=$(grep 'Version:' "SVS Control Module Firmwares/releasenotes.txt" | head -n 1 | awk '{print $2}')
          DESC=$(awk '/Version:/{if (NR!=1) exit} /Description:/,/^$/' "SVS Control Module Firmwares/releasenotes.txt" | sed '1d;$d')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "DESC<<EOF" >> $GITHUB_ENV
          echo "$DESC" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Install p7zip
        run: sudo apt-get install -y p7zip-full

      - name: Package firmware release
        run: |
          mkdir -p release
          cp "SVS Control Module Firmwares/Firmware/SVS_FW_${VERSION}.hex" release/
          cp "SVS Control Module Firmwares/readme.txt" release/
          cp "SVS Control Module Firmwares/releasenotes.txt" release/
          cp "SVS Control Module Firmwares/Scripts/SVS Firmware Update Tool v1.0 Unix.sh" release/
          cp "SVS Control Module Firmwares/Scripts/SVS Firmware Update Tool v1.0 Windows.bat" release/
          cp "SVS Control Module Firmwares/Scripts/SVS_Flash.exe" release/
          cp "SVS Control Module Firmwares/Scripts/SVS Management Utility V1.2.exe" release/
          cp "SVS Control Module Firmwares/Scripts/README.md" release/
          cp "SVS Control Module Firmwares/Scripts/README.md" release/
          cp "SVS Control Module Firmwares/Scripts/Icon.ico" release/
          cp "SVS Control Module Firmwares/Scripts/Icon.png" release/          
          cp -r "SVS Control Module Firmwares/Scripts/tools" release/
          cd release/ && 7z a SVS_Firmware_${VERSION}.7z . && cd ..

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: SVS Firmware v${{ env.VERSION }}
          body: |
            Release Notes:
            ${{ env.DESC }}
          files: |
            release/SVS_Firmware_${{ env.VERSION }}.7z
          draft: true
